<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
      <!--Breadcrumbs-->
      <app-breadcrumbs></app-breadcrumbs>

      <!--Sistema de rutas-->

      <router-outlet></router-outlet>

      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
        © {{year}} JETMIND corporation | version 1.0.0 | Desarrollador David Tamayo
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->


    </div>
  </div>

