

<div class="col">
    
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-primary"
                       routerLink="/persona/nuevo">
                        <i class="mdi mdi-account-plus"></i> 
                        Crear Personas
                    </a>
                </div>
                <div style="height: 10px;"></div>
                <input type="text" class="form-control" placeholder="Buscar usuario" (keyup)="buscar(txtBusqueda.value)"
                    #txtBusqueda>
                    
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">
    
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios registrados</h4>
                <h6 class="card-subtitle">Lista de todos los usuarios existentes en el sistema</h6>
                <h6 class="card-subtitle">Total de usuarios: {{totalUsuarios}}</h6>
                <div class="table-responsive">
                    <table class="table full-color-table full-inverse-table hover-table">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th class="w100">Ciudad</th>
                                <th class="w100">Sucursal</th>
                                <th class="w100">Marca</th>
                                <th class="w100">Nombre</th>
                                <th class="w100">Email</th>
                                <th class="text-nowrap w100">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of personas">
                                <td class="text-center"><img [src]="usuario.fotoPerfil | imagen:'personas'" class="avatar" (click)="abrirModal(usuario)">
                                </td>
                                <td (click)="mostrarDatosModal(usuario)">
                                    <div *ngFor="let ciudad1 of usuario.idCiudad">{{ciudad1.nombre}}</div>
                                </td>
                                <td (click)="mostrarDatosModal(usuario)">
                                    <div *ngFor="let marca1 of usuario.idMarca">{{marca1.nombre}}</div>
                                </td>
                                <td (click)="mostrarDatosModal(usuario)">
                                    <div *ngFor="let sucursal1 of usuario.idSucursal">{{sucursal1.nombre}}</div>
                                </td>
                                <td (click)="mostrarDatosModal(usuario)">{{usuario.nombresApellidos}}</td>
                                <td (click)="mostrarDatosModal(usuario)">{{usuario.email}}</td>
                                
                                <td class="text-nowrap">
                                    <a [routerLink]="['/persona',usuario._id]" data-toggle="tooltip" data-original-title="Editar"> <i
                                            class="ti-pencil"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Borrar"
                                        (click)="borrarUsuario(usuario)">
                                        <i class=" ti-trash"></i>
                                    </a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div *ngIf="txtBusqueda.value.length === 0">
                        <button (click)="paginar(-5)" class="btn btn-secondary">Anterior</button>
                        &nbsp;
                        <button (click)="paginar(5)" class="btn btn-secondary">Siguiente</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="fondo-modal-imagen animated fadeIn fast"  [class.oculto]="mostraModal">
    <div id="responsive-modal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        style="display: block;padding-right: 17px; overflow-y: initial">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Datos Persona</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cerrarModal()">×</button>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Acciones</h4>
                    <div class="row button-group">
                        <div class="col-md-4">
                            <button (click)="editarPersona()" type="button" class="btn btn-block btn-outline-info"><i class="fa fa-edit"></i>
                                Editar</button>
                        </div>
                        <div class="col-md-4">
                            <button (click)="borrarUsuario(personaSeleccionado)" type="button" class="btn btn-block btn-outline-danger"><i class="fa fa-trash-o"></i>
                                Elimiar</button>
                        </div>
                        
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <table class="table .color-table .dark-table">
                        
                                <tr *ngFor="let nombreatributo of atributostablaPersona?.nombreAtributos">
                                    <td>{{nombreatributo}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table .color-table .dark-table">
                        
                                <tr *ngFor="let idatributo of atributostablaPersona?.idAtributos ">
                                    <td *ngIf="idatributo==null">--</td> 
                                    <td *ngIf="idatributo!=null">{{idatributo}}</td> 
                                </tr>
                            </table>
                        </div>
                    </div>
                    

                    


                </div>



            </div>
        </div>
    </div>
</div>