<div class="card">
    <form autocomplete="off" [formGroup]="registerForm">
        <div class="col-12">


            <div class="row p-t-20">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputuname">Ciudades *</label>
                        <ng-multiselect-dropdown [placeholder]="'Seleccione Ciudades'" [settings]="dropdownSettings"
                            [data]="dropdownListCiudades" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelect)="onDeSelect($event)"
                            (onDeSelectAll)="onDeSelectAll($event)" formControlName="idCiudad">
                        </ng-multiselect-dropdown>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputuname">Sucursales *</label>
                        <ng-multiselect-dropdown [placeholder]="'Seleccione Sucursal'" [settings]="dropdownSettings"
                            [data]="dropdownListSucursales" (onSelect)="onItemSelectsucursal($event)"
                            (onSelectAll)="onSelectAllsucursal($event)" (onDeSelect)="onDeSelectsucursal($event)"
                            (onDeSelectAll)="onDeSelectAllsucursal($event)" formControlName="idSucursal">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>

            <div class="row p-t-20">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputuname">Marcas *</label>
                        <ng-multiselect-dropdown [placeholder]="'Seleccione Marca'" [settings]="dropdownSettings"
                            [data]="dropdownListMarcas" (onSelect)="onItemSelectmarca($event)"
                            (onSelectAll)="onSelectAllmarca($event)" (onDeSelect)="onDeSelectmarca($event)"
                            (onDeSelectAll)="onDeSelectAllmarca($event)" formControlName="idMarca">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <button (click)="buscar()">Buscar</button>
                </div>
            </div>


        </div>
    </form>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Estudiante</th>
                        <th>Ciudad</th>
                        <th>Marca</th>
                        <th>Sucrusal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dato of respuesta; let index=index">
                        <td>{{index+1}}</td>
                        <td>{{dato?.idEstudiante[0]?.nombresApellidos}}</td>
                        <td>
                            <div *ngFor="let ciudad of dato?.idCiudad">
                                {{ciudad?.nombre}}
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let marca of dato?.idMarca">
                                {{marca?.nombre}}
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let sucursal of dato?.idSucursal">
                                {{sucursal?.nombre}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>