

<form (ngSubmit)="crearContrato()" autocomplete="off" [formGroup]="registerForm">
    <div class="card-body">
        <h4 class="card-title">Contrato</h4>
        <h6 class="card-subtitle">Ingrese todos los datos solicitados</h6>

        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha">Fecha *</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                        <input type="date" class="form-control" id="fecha" placeholder="Ingrese fecha"
                            formControlName="fecha">
                    </div>
                    <div class="text-danger">
                        <p *ngIf="campoNoValido('fecha')">La fecha de nacimiento es obligatoria</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" *ngIf="mostrarBoton">
                    <div class="demo-switch-title">Estado</div>
                    <select class="form-control custom-select" formControlName="estado">
                        <option value="Espera">Espera</option>
                        <option value="Aprobado">Aprobado</option>
                        <option value="Rechazado">Rechazado</option>
                    </select>
                    <small class="form-control-feedback"> Seleccione el estado </small>
                </div>
                <div class="text-danger">
                    <p *ngIf="campoNoValido('estado')">El estado es obligatorio</p>
                </div>
            </div>
        </div>


        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="demo-switch-title">Tipo de pago</div>
                    <select class="form-control custom-select" formControlName="tipoPago" (click)="habilitarCampos();calculadora()">
                        <option value="Plan">Plan</option>
                        <option value="Contado">Contado</option>
                    </select>
                    <small class="form-control-feedback"> Seleccione el tipo de Pago </small>
                    <div class="text-danger">
                        <p *ngIf="campoNoValido('tipoPago')">El tipo de pago es obligatorio</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="demo-switch-title">Estado de la venta</div>
                    <select class="form-control custom-select" formControlName="estadoVenta"
                        (click)="habilitarCampos();calculadora()">
                        <option value="OK">OK</option>
                        <option value="Abono">Abono</option>
                        <option value="Saldo">Saldo</option>
                    </select>
                    <small class="form-control-feedback"> Seleccione estado de la venta </small>
                    <div class="text-danger">
                        <p *ngIf="campoNoValido('estadoVenta')">El estado de venta es obligatorio</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputuname">Valor Total *</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class=" ti-money"></i></div>
                        <input type="number" class="form-control" placeholder="Ingrese Valor Total"
                            formControlName="valorTotal"  (keyup)="calculadora()">
                    </div>
                    <div class="text-danger">
                        <p *ngIf="campoNoValido('valorTotal')">El valor total es obligatorio</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Valor Matricula </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-money"></i></div>
                        <input type="number" class="form-control" placeholder="Ingrese Valor Matricula"
                            formControlName="valorMatricula" (keyup)="calculadora()">
                    </div>
                    <div class="text-danger">
                        <!-- <p *ngIf="campoNoValido('valorMatricula')">El email es obligatorio / Ingrese email valido</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cedula">Abono/Saldo </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class=" ti-money "></i></div>
                        <input type="number" class="form-control" id="abono" placeholder="Ingrese Abono"
                            formControlName="abono" (keyup)="calculadora()">
                    </div>
                    <div class="text-danger">
                        <!-- <p *ngIf="campoNoValido('abono')">La cedula es obligatoria</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono">Numero Cuotas</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class=" ti-layout-menu-v"></i></div>
                        <input type="number" class="form-control" id="numeroCuotas" placeholder="Numero Cuotas"
                            formControlName="numeroCuotas" (keyup)="calculadora()">
                        <div class="text-danger">
                            <!-- <p *ngIf="campoNoValido('telefono')">El numero de telefono es obligatorio</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TOAST
            <div class="alert alert-info"> 
            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                <span aria-hidden="true">×</span> 
            </button>
        </div> -->
        <div *ngIf="mostrarCalculadora" class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <span class="lstick "></span>
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Calculadora</h6>
                        <h2 class="m-t-0">{{deuda}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="demo-switch-title">Forma de pago *</div>
                    <select class="form-control custom-select" formControlName="formaPago">
                        <option value="Tarjeta">Efectivo</option>
                        <option value="Tarjeta">Tarjeta</option>
                        <option value="Credito">Credito</option>
                    </select>
                    <small class="form-control-feedback"> Seleccione el forma pago </small>
                    <div class="text-danger">
                        <p *ngIf="campoNoValido('formaPago')">La forma de pago es obligatoria</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="comentario">Comentario del contrato</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class=" ti-comment "></i></div>
                        <textarea type="text" class="form-control" id="comentario" placeholder="Ingrese comentario"
                            formControlName="comentario"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button *ngIf="mostrarBoton" type="submit"
            class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
        <a *ngIf="mostrarBoton" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
    </div>
</form>