

<div class="col">
    
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-primary"
                       routerLink="/facturar/nuevo">
                        <i class="mdi mdi-account-plus"></i> 
                        Crear Factura
                    </a>
                </div>
                <div style="height: 10px;"></div>
                <input type="text" class="form-control" placeholder="Buscar Factura" (keyup)="buscar(txtBusqueda.value)"
                    #txtBusqueda>
                    
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">
    
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Facturas registradas</h4>
                <h6 class="card-subtitle">Lista de todas las facturas existentes en el sistema</h6>
                <h6 class="card-subtitle">Total de facturas: {{totalFacturas}}</h6>
                <div class="table-responsive">
                    <table class="table full-color-table full-inverse-table hover-table">
                        <thead>
                            <tr>
                                <th class="w100">Contrato</th>
                                <th class="w100">Nombres y apellidos</th>
                                <th class="w100">Email</th>
                                <th class="w100">Cedula</th>
                                <th class="w100">Telefono</th>
                                <th class="w100">Estado</th>
                                <th class="text-nowrap w100">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let factura of facturas">
                        
                                <td>{{factura?.idContrato?.codigo}}</td>
                                <td>{{factura?.nombre}}</td>
                                <td>{{factura?.correo}}</td>
                                <td>{{factura?.cedula_ruc}}</td>
                                <td>{{factura?.telefono}}</td>
                                <td>{{factura?.estado}}</td>
                                
                                
                                <td class="text-nowrap">
                                    <a [routerLink]="['/facturar',factura._id]" data-toggle="tooltip" data-original-title="Editar"> <i
                                            class="ti-pencil"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Borrar"
                                        (click)="borrarFactura(factura)">
                                        <i class=" ti-trash"></i>
                                    </a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div *ngIf="txtBusqueda.value.length === 0">
                        <button (click)="paginar(-5)" class="btn btn-secondary">Anterio</button>
                        &nbsp;
                        <button (click)="paginar(5)" class="btn btn-secondary">Siguiente</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
