<div class="col">

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-primary" routerLink="/campania/nuevo">
                        <i class="mdi mdi-account-plus"></i>
                        Crear Campaña
                    </a>
                </div>
                <div style="height: 10px;"></div>
                <input type="text" class="form-control" placeholder="Buscar ciudad" (keyup)="buscar(txtBusqueda.value)"
                    #txtBusqueda>

            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Campañas registrados</h4>
                <h6 class="card-subtitle">Lista de todos las campañas existentes en el sistema</h6>
                <h6 class="card-subtitle">Total de campañas: {{totalCampanias}</h6>
                <div class="table-responsive">
                    <table class="table full-color-table full-inverse-table hover-table">
                        <thead>
                            <tr>
                                <th class="w100">Estado</th>
                                <th class="w100">Marca</th>
                                <th class="w100">Nombre</th>
                                <th class="w100">Fecha Activacion</th>
                                <th class="w100">Fecha Finalizacion</th>

                                <th class="text-nowrap w100">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let campania of campanias">

                                <td>{{campania?.estado}}</td>
                                <td>{{campania?.idMarca?.nombre}}</td>
                                <td>{{campania?.nombre}}</td>
                                <td>{{campania?.fecha_activacion | date:'MM/dd/yyyy'}}</td>
                                <td>{{campania?.fecha_finalizacion | date:'MM/dd/yyyy'}}</td>

                                <td class="text-nowrap">
                                    <a [routerLink]="['/campania',campania._id]" data-toggle="tooltip"
                                        data-original-title="Editar"> <i class="ti-pencil"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Borrar"
                                        (click)="borrarCampania(campania)">
                                        <i class=" ti-trash"></i>
                                    </a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div *ngIf="txtBusqueda.value.length === 0">
                        <button (click)="paginar(-5)" class="btn btn-secondary">Anterior</button>
                        &nbsp;
                        <button (click)="paginar(5)" class="btn btn-secondary">Siguiente</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>