
<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">

    <ng-wizard-step [title]="'Representante'" [description]="'Datos Representante'">
        <app-representante></app-representante>
    </ng-wizard-step>

    <ng-wizard-step [title]="'Estudiante'" [description]="'Datos Estudiante'" >
        <app-estudiante></app-estudiante>
    </ng-wizard-step>

    <ng-wizard-step [title]="'Estudiantes'" [description]="'Estudiantes ingresados al contrato'" >
        <app-estudiantes [idRepresentante]="'613a7e02700f76389cc8065d'" [idEstudiante]="'618f01b25ac5463de84661f2'"></app-estudiantes>
    </ng-wizard-step>

    <ng-wizard-step [title]="'Precio'" [description]="'Datos economicos'">
        <app-contrato-form></app-contrato-form>
    </ng-wizard-step>

    <ng-wizard-step [title]="'Facturacion'" [description]="'Datos facturacion'">
        <app-facturar></app-facturar>
    </ng-wizard-step>
    
    <ng-wizard-step [title]="'Voucher'" [description]="'Fotos del vaucher'">
        <app-uploads></app-uploads>
    </ng-wizard-step>
</ng-wizard>