<div class="col">

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-primary" routerLink="/entrevistainicialtm/nuevo/id">
                        <i class="mdi mdi-account-plus"></i>
                        Crear Entrevista inicial
                    </a>
                </div>
                <div style="height: 10px;"></div>
                <input type="text" class="form-control" placeholder="Buscar entrevista inicial" (keyup)="buscar(txtBusqueda.value)"
                    #txtBusqueda>

            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere...</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registros de Entrevista inicial </h4>
                <div class="table-responsive">
                    <table class="table full-color-table full-inverse-table hover-table">
                        <thead>
                            <tr>

                                <th class="w100">Reporte</th>
                                <th class="w100">Contrato</th>
                                <th class="w100">Datos</th>

                                <th class="text-nowrap w100">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entrevista of entrevistasIniciales">
                                <td>
                                    <button (click)="reporte(entrevista)" type="button" class="btn btn-info btn-circle btn-lg">
                                        <i class="fa fa-file-pdf-o"></i></button>
                                </td>

                                <td>{{entrevista.idContrato}}</td>
                                <td>
                                    <div  *ngFor="let est of entrevista.estudiantes1">
                                        <div *ngFor="let est1 of est.estudiantes">
                                            <div>
                                                {{est1.idDocente[0].nombre}}
                                            </div>
                                            <div>
                                                {{est1.idHorario[0].nombre}}
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    
                                </td>
                                

                                <td class="text-nowrap">
                                    <a [routerLink]="['/ciudad',entrevista._id]" data-toggle="tooltip"
                                        data-original-title="Editar"> <i class="ti-pencil"></i> </a>
                                    <a data-toggle="tooltip" data-original-title="Borrar"
                                        (click)="borrar(entrevista)">
                                        <i class=" ti-trash"></i>
                                    </a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <div *ngIf="txtBusqueda.value.length === 0">
                        <button (click)="paginar(-5)" class="btn btn-secondary">Anterior</button>
                        &nbsp;
                        <button (click)="paginar(5)" class="btn btn-secondary">Siguiente</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
