<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Activity widget find scss into widget folder-->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-lg-7 col-xlg-8">

            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                src="../assets/images/icon/income.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Ciudades</h6>
                            <h2 class="m-t-0">{{totalCiudades}}</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                src="../assets/images/icon/expense.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Marcas</h6>
                            <h2 class="m-t-0">{{totalMarcas}}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                src="../assets/images/icon/assets.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Sucursales</h6>
                            <h2 class="m-t-0">{{totalSucursales}}</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Little Profile widget-->
        <div class="col-lg-5 col-xlg-4">
            <div class="card">
                <div class="card-body little-profile text-center">
                    <div class="pro-img m-t-20"><img [src]="persona.getURLImagenfotoPerfil()" alt="user"></div>
                    <h3 class="m-b-0">{{persona.nombresApellidos}}</h3>
                </div>


            </div>
        </div>
        <!--Little Profile widget-->
    </div>


    <!-- ============================================================== -->
    <!-- Stats box -->
    <!-- ============================================================== -->
    <h3>Estudiantes</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                src="../assets/images/icon/income.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Estudiantes Activos</h6>
                            <h2 class="m-t-0">{{totalEstudiantesActivos}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                    src="../assets/images/icon/income.png" alt="Income"></div>
                            <div class="align-self-center">
                                <h6 class="text-muted m-t-10 m-b-0">Total Estudiantes Congelado</h6>
                                <h2 class="m-t-0">{{totalEstudiantesCongelado}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                src="../assets/images/icon/assets.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Estudiantes Incorporados</h6>
                            <h2 class="m-t-0">{{totalEstudiantesIncorporado}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                src="../assets/images/icon/assets.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Estudiantes Retirados </h6>
                            <h2 class="m-t-0">{{totalEstudiantesRetirado}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Horarios</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                src="../assets/images/icon/income.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Estudiantes Activos</h6>
                            <h2 class="m-t-0">{{totalEstudiantesActivos}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                    src="../assets/images/icon/income.png" alt="Income"></div>
                            <div class="align-self-center">
                                <h6 class="text-muted m-t-10 m-b-0">Total Estudiantes Congelado</h6>
                                <h2 class="m-t-0">{{totalEstudiantesCongelado}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                src="../assets/images/icon/assets.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Estudiantes Incorporados</h6>
                            <h2 class="m-t-0">{{totalEstudiantesIncorporado}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img
                                src="../assets/images/icon/assets.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Estudiantes Retirados </h6>
                            <h2 class="m-t-0">{{totalEstudiantesRetirado}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>