<section id="wrapper">
    <div class="login-register" style="background-image:url();">
        <div class="login-box card">
            <div class="card-body">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png"
                    alt="Home" /><br /><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <form class="form-horizontal form-material" id="loginform" (ngSubmit)="crearPass()" autocomplete="off" [formGroup]="registerForm">
                    <h3 class="box-title m-b-20">Creación de nueva contraseña</h3>
                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Contraseña" formControlName="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Confirmar Contraseña" formControlName="password2">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="registerForm.errors?.sonIguales && !registerForm.pristine">
                        <p class="text-danger"> Las contraseñas deben ser iguales</p>
                    </div>
                    <div *ngIf="boton" class="form-group text-center p-b-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
