<div class="card">

    <form (ngSubmit)="crear()" autocomplete="off" [formGroup]="registerForm">

        <div class="card-body">
            
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label for="exampleInputuname">Fecha Entrega</label>
                    </div>
                    <div class="panel-body">
                        <input class="form-control" type="text" mwlFlatpickr [altInput]="true"
                            [convertModelValue]="true" formControlName="fechaEntrega" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputuname">Docente *</label>
                <ng-multiselect-dropdown [placeholder]="'Seleccione Docente'" [settings]="dropdownSettingsSingle"
                    [data]="dropdownListPersonas" (onSelect)="onItemSelectPersona($event)"
                    (onSelectAll)="onSelectAllPersona($event)" (onDeSelect)="onDeSelectPersona($event)"
                    (onDeSelectAll)="onDeSelectAllPersona($event)" formControlName="idDocente">
                </ng-multiselect-dropdown>
            </div>
            
            <div class="form-group">
                <label for="exampleInputuname">Estudiante *</label>
                <ng-multiselect-dropdown [placeholder]="'Seleccione Docente'" [settings]="dropdownSettingsSingle"
                    [data]="dropdownListEstudiantes" (onSelect)="onItemSelectEstudiante($event)"
                    (onSelectAll)="onSelectAllEstudiante($event)" (onDeSelect)="onDeSelectEstudiante($event)"
                    (onDeSelectAll)="onDeSelectAllEstudiante($event)" formControlName="idEstudiante">
                </ng-multiselect-dropdown>
            </div>


            <div class="form-group">
                <label for="exampleInputuname">Libro *</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input type="text" class="form-control" formControlName="libro">
                </div> 
            </div>



            <div>
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                <a (click)="cancelarGuardado()" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
            </div>

        </div>
    </form>

</div>
